<div class="jumbotron">
      <div class="container">
      <%= image_tag "ai.jpg" %>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>AI Technology</h2>
          <p>Our system using the most robust and accurate algorithm in the market. We can match accuracy up to 98%. </p>
        </div>
        <div class="col-md-4">
          <h2>Cloud Based</h2>
          <p>We store your images in our database in cloud services and our system come with Wifi and Bluetooth. Now you can create virtual key in real time using only your mobile phone.</p>
       </div>
        <div class="col-md-4">
          <h2>IOT Ready</h2>
          <p>What you see is not what you get. You get more! Our system not only a smart lock but also IOT ready for future devices such as smart lighting, fan, curtain and etc</p>
        </div>
      </div>

      <hr>