  <div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center"><br/>
      <h1 class="display-4">Thank You For Applying</h1>
      <p class="lead">In order for us to process your enrollment, we need the followiing clearly scan documents :</p>
    </div>

    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-12 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Required Documents</h4>
          </div>
          <div class="card-body">
            
            <ul class="list-unstyled mt-3 mb-4">
              <li>Photocopies of Passport (All Pages)</li>
              <li>Photocopies of All Education Certificates (Please translate in English)</li>
              <li>Photocopies of all Supporting Documents (If Applicable)</li>
            </ul>
            <a href="https://goo.gl/forms/xUIWdYTCkGzBJEk03" target="_blank" class="btn btn-lg btn-block btn-outline-primary" >Upload Documents</a>
          </div>
        </div>
    </div>
       
  </div>
