  <div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Pricing</h1>
      <p class="lead">MeLAB offer 3 packages for our customers to choose from. We will update new services and pricing from time to time.</p>
    </div>

    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Free/Joint Venture</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">RM 0 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>20-30% of Products Profit</li>
              <li>Full Social Marketing Support</li>
              <li>Full Email support</li>
              <li>Only paid cost for Hosting/Ads </li>
            </ul>
            <a href="https://goo.gl/forms/d7XRe7BRgL8yL5wB2" target="_blank" class="btn btn-lg btn-block btn-outline-primary" >Contact Us</a>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">SME Ecommerce</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">RM 500 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Setting up 1 Ecommerce Site</li>
              <li>Weekly Marketing Plan</li>
              <li>Priority email support</li>
              <li>Help center access</li>
            </ul>
            <a href="/shopify" class="btn btn-lg btn-block btn-primary">More Information</a>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">App for Enterprise</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">RM 1500.00 <small class="text-muted">above</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>App & Website Customization</li>
              <li>Integration of Blockhain</li>
              <li>Phone and email support</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
          </div>
        </div>
      </div>
  </div>
