
    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">MeLAB is Shopify Authorized Partner</h1>
          <p class="lead text-muted">We organise short courses on how to build complete e-commerce website or we build them for you. We also teach you how to start your online business. All come with real sales and data!</p>
          <p>
            <a href="/courses" class="btn btn-primary my-2">Check Courses</a>
            <a href="https://www.shopify.com/?ref=melab-global-sdn-bhd" class="btn btn-secondary my-2">Shopify Link</a>
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light">
      <h1 class="display-4 font-weight-normal"><center>Partner & Support</center></h1>
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
               	<%= image_tag "ebam.jpg" %>
                <div class="card-body">
                  <p class="card-text">We are glad to partner with E-Business Association of Malaysia to give a free 2 hours training on e-commerce website building to its member.</p>
                  
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
               <%= image_tag "fb.jpg" %>
                <div class="card-body">
                  <p class="card-text">Social Media marketings are crucial in achieving success especially in online business. Thus we need you to create a Facebook Pixel and get the code for your website.</p>                
                </div>
              </div>
            </div>
             <div class="col-md-4">
              <div class="card mb-4 box-shadow">
               <%= image_tag "google.jpg" %>
                <div class="card-body">
                  <p class="card-text">We need to register Google account and create a Google analytic for your web SEO & Traffic Analysis purposes. </p>             
                </div>
              </div>
            </div>
           </div>

    </main>